<p>
  register works!
</p>
<div class="container">
  <div class="row">
  <div class=".row-sm-6" style="background-color: pink">
<form>
<div class="form-group">
<label for ="email">Email:</label>
<input type="email" class="form-control" placeholder="Enter mail id" [(ngModel)]="email" name="mailid">
</div>

<div class="form-group">
<label for="password"> password:</label>
<input type="password" class="form-control" placeholder="passord" [(ngModel)]="password" name="pass">
</div>
<div class="checkbox"> 
<label><input type="checkbox"> Remember me</label> 
</div>
<span class="pull-right"><input type="button"  name="login"class="btn btn-dark" value ="sumit" (click)="loginfun()"></span>
</form>
</div>
</div>
</div>
<h2>  </h2>